@use "../../../styles/globals" as g;

    .logo{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        @include g.create-flexbox(column, center);
        @include g.display-large{
            margin: 0;
            width: 10%;
            // background-color: blue;
        }
        .EALogoImg{
            margin: 0;
            @include g.display-large{
                width: 80%;
            }
        }
    }