@use '../../../styles/globals' as g;

.container{
    padding: g.$mobile-padding;
    margin-top: g.$mobile-NavBar-height;
    .item{//div
        width: 95vw;
        img{
            width: 95vw;
        }
    }
}