@use "../../styles/globals" as g;


.navBar {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: g.$minNavBarHeight;
    top: 0;
    left: 0;
    padding: 0 2vw;
    background-color: g.$main-color;
    color: g.$text-color;
    @include g.create-flexbox(row, space-between);
    box-shadow: 0px 0px 10px 10px rgb(1, 26, 6);

    @include g.display-large{
        height: g.$maxNavBarHeight;
        justify-content: space-between;
        
    }
}
