@use '../../../styles/globals' as g;

.container{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    top: g.$desk-NavBar-height;
    @include g.display-large{
        padding: 5vh 5vw;
    }
    h1{
        text-align: center;
        margin-bottom: 10vh;
    }
    .secondContainer{
        position: relative;
        width: 90vw;
        padding: 10px;
        @include g.create-flexbox(column, space-between);
        align-items: center;
        .equipmentContainer{
            border-top: 2px solid g.$es-color;
            @include g.create-flexbox(column, space-between);
            padding: 10vh 0;

            @include g.display-large{
                flex-direction: row;
                width: 70vw;
                gap: 3rem;
            }
            img{
                max-width: 60vw;
                max-height: 60vh;
                margin-bottom: 10px;
            }
        }
    }
}