@use '../../../styles/globals' as g;

.container{
    position: relative;
    width: 100%;
    min-height: 100vw;
    box-sizing: border-box;
    padding: 10vh 5vw;
    top: g.$desk-NavBar-height;
    h1{
        text-align: center;
        margin-bottom: 10vh;
    }
    .secondContainer{
        width: 90vw;
        padding: 10px;
        @include g.create-flexbox(column, space-between);
        align-items: center;
        .equipmentContainer{
            border-top: 2px solid g.$es-color;
            padding: 10vh 0;
            width: 70vw;
            @include g.create-flexbox(row, space-between);
            gap: 3rem;
            img{
                max-width: 60vw;
                max-height: 60vh;
            }
        }
    }
}