@use "../../styles/globals" as g;

.navList{ // ul
    position: absolute;
    box-sizing: border-box;
    list-style: none;
    @include g.create-flexbox(column, space-evenly);
    // align-items: flex-start;
    width: 90%;
    top: 12vh;
    right: -100%;
    z-index: 2000;
    background-color: g.$text-color;
    height: calc(94vh - (g.$minNavBarHeight * 2));
    font-weight: 600;
    padding: 1px;
    @include g.display-large{
        justify-content: space-between;
        flex-direction: row;
        top: -13px;
        font-size: min(#{2vw}, #{15px});
        padding: 0 2px 0 0;
        width: 67%;
        right: 2vw;
        line-height: g.$maxNavBarHeight;
        background-color: red;
    }
    .navLink{// li
        display: inline-block;
        text-decoration: none;
        text-align: center;
        position: relative;
        width: 70vw;
        height: 8vh;
        line-height: 8vh;
        color: g.$main-color;
        border-radius: 2vw;
     }
    .navLink:hover{
        background-color: g.$main-color;
        color:g.$text-color;
        transition: .2s ease;
    }
}
.show{// ul
    right: 5%;
    transition: right .3s ease;
    
}