@use "../../styles/globals" as g;

.navList{ // ul
    position: absolute;
    box-sizing: border-box;
    list-style: none;
    @include g.create-flexbox(column, space-evenly);
    width: 100%;
    right: -100%;
    transition: left 0.3s;
    @include g.display-large{
        justify-content: space-between;
        flex-direction: row;
        font-size: min(#{2vw}, #{15px});
        padding: 0 2px 0 0;
        width: 67%;
        right: 2vw;
        // background-color: red;
    }
    .navLink{
        text-decoration: none;
        color: inherit;
    }
}
.hidden{
    display: none;
}