@use '../../styles/globals' as g;

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    .formContainer {
        .inputBlock {
            padding: 3px 0;

            label {
                font-size: g.$mobile-p-font-size;
            }

            .select {
                border: none;
                width: 100%;
                height: 30px;
                font-size: calc(g.$mobile-p-font-size * .8);
                overflow: auto; /* Permite desplazamiento vertical si es necesario */
                white-space: normal; /* Permite que el texto se divida en varias líneas */
                .option{
                    border-bottom: 1px solid black;
                    background-color: red;
                }
                // &::-webkit-scrollbar {
                //     /* Estilos para la barra de desplazamiento en navegadores WebKit */
                //     width: 50px; /* Ancho deseado de la barra de desplazamiento */
                // }
        
                // scrollbar {
                //     /* Estilos para la barra de desplazamiento en navegadores no WebKit */
                //     width: 50px; /* Ancho deseado de la barra de desplazamiento */
                // }
            }
        }
    }
}
