@use '../../../styles/globals' as g;

.container{
    // position: relative;
    margin-top: g.$mobile-NavBar-height;
    padding: g.$mobile-padding;
    padding-bottom: 10vh;
    height: auto;
    // min-height: 100vh;
    // background-color: grey;
    @include g.create-flexbox(column, space-evenly);
    .inputBlock{
        @include g.create-flexbox(column, center);
        align-items: flex-start;
        padding: 1vh 0;
        input{
            width: 92vw;
        }
        textarea{
            width: 92vw;
        }
    }
    .mediaContainer{
        position: relative;
        padding: 2vh 0;
        @include g.create-flexbox(column, space-between);
        // background-color: red;
        width: 97%;
        .imgContainer{
            padding: 2vh 0;
            width: 100%;
            @include g.create-flexbox(row, space-between);
            flex-wrap: wrap;
            gap:2px;
            // background-color: green;
            .imgBlock{
                width: 45%;
                position: relative;
                display: inline-block;
                img{
                    width: 100%;
                    // max-width: 220px;
                    object-fit: cover;
                    height: 100%;
                    max-height: 150px;
                }
                .xButton{
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    top: 5px;
                    right: 5px;
                    // color: red;
                    background-color: g.$es-color;
                    cursor: pointer;
                }
                .xButton:hover{
                    color: g.$es-color;
                    background-color: g.$third-color;
                }
            }
        }
    }
    .imgButton{
        background-color: g.$es-color;
        color: g.$third-color;
        margin: 10vw 0;
    }
    .imgButton:hover{
        background-color: g.$third-color;
        color: g.$es-color;
    }
}