@use '../../styles/globals' as g;

.container {
    position: relative;
    padding: g.$mobile-padding;
    padding-top: g.$mobile-NavBar-height ;
    z-index: 200;

    
    
    @include g.display-large{
        justify-content: space-between;
        
    }
    h1{
        position: relative;
        z-index: 300;
    }

}