@use'../../styles/globals' as g;

.container{
    box-sizing: border-box;
    background-color: g.$light-black-color;
    color: g.$white-color;
    width: 100vw;
    padding: 5vh 5%;
    form{
        width: 100%;
        @include g.create-flexbox(column, space-between);
        align-items: center;
        gap: 2vh;
        .inputBlock{
            width: 90%;
            label{
                font-size: g.$mobile-p-font-size;
            }
            input{
                width: 100%;
                font-size: g.$mobile-p-font-size;
            }
        }
    }
}