@use "../../styles/globals.modules" as g;


.container{
    width: 100%;
    height: calc(70vh - 50px);
    margin-top: var(--minNavBarHeight);
    background-color: blue;
    overflow: hidden;
    @include g.display-large{
        height: calc(100vh - var(--maxNavBarHeight));
        margin-top: var(--maxNavBarHeight);
        
    }
}
.img{
    width: calc(150% + 100px);

}