@use "../../styles/globals" as g;


.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - (g.$minNavBarHeight * 2));
    top: g.$minNavBarHeight;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    @include g.display-large{
        height: calc(100vh - g.$maxNavBarHeight);
        top: g.$maxNavBarHeight;
    }
}

.container{
    width: 100%;
    height: calc(100vh - (g.$minNavBarHeight * 2));
    margin-top: g.$minNavBarHeight;
    background-color: green;
    overflow: hidden;

    @include g.display-large{
        height: calc(100vh - g.$maxNavBarHeight);
        margin-top: g.$maxNavBarHeight;
    }

    .img{
        height: calc(100% + 150px);
        width: auto;

        @include g.display-large{
            width: calc(150% + 150px);
            height: auto;
            z-index: 1;
        }
    }

}