@use "../../../styles/globals" as g;


.navBar {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: max(#{g.$mobile-NavBar-height}, #{25px});
    top: 0;
    left: 0;
    padding: 0 2vw;
    margin: 0;
    background-color: g.$second-color;
    color: g.$main-color;
    @include g.create-flexbox(row, space-between);
    box-shadow: 0px 0px 10px 10px g.$third-color;
    z-index: 1000;

    @include g.display-large{
        height: g.$desk-NavBar-height;
        justify-content: space-between;
        
    }
}
