@use "../../styles/globals.modules" as g;


.container{
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 40px;
    background-color: blue;
    @include g.display-large{
        height: calc(100vh - 70px);
        margin-top: 70px;
    }
}
.mainTitle{
    position: absolute;
    top: 250px; 
    color: g.$text-color;
}
.img{
    width: 100%;

}