@use '../../../styles/globals' as g;

.container{
    margin-top: g.$mobile-NavBar-height;
    // background-color: green;
    min-height: 100vh;
    .title{
        font-size: calc(g.$mobile-h1-font-size * .7);
        @include g.display-large{
            font-size: g.$desk-h1-font-size;
            text-align: center;
            margin-bottom: 60px;
        }
    }
    
    .mainImage {
        position: relative;
        top: 0;
        box-sizing: border-box;
        // padding: 10vh 0;
        // background-color: yellow;
        width: 100vw; /* Ajusta el ancho según tus necesidades */
        height: 400px; /* Ajusta la altura según tus necesidades */
        overflow: hidden;
        z-index: 1;
        // border-top: 10px solid g.$third-color;
        // border-bottom: 10px solid g.$third-color;
    }

    .mainImage::before {
        content: "";
        position: absolute;
        overflow: hidden;
        // top: g.$desk-NavBar-height;
        left: 0;
        width: 100vw;
        height: 400px;
        background-image: url('../../ESAssets/ESImages/ESServices/PerfParaProduccion/perfoProd01.png'); /* Reemplaza 'tu-imagen.jpg' con la URL de tu imagen */
        background-size: cover;
        background-position: center;
        filter: grayscale(100%); /* Convierte la imagen a blanco y negro */
        opacity: 0.4; /* Ajusta la opacidad según tus necesidades */
        // background-color: red;
    }

    .mainText {
        position: absolute;
        padding: 20px;
        top: 120px;
        z-index: 2;
        color: g.$third-color;
        // color: white; /* Ajusta el color del texto según tus necesidades */
        text-align: center;
    }

    .our{
        // background-color: g.$es-color;
        position: relative;
        // top: -25px;
        text-align: center;
        height: 100px;
        line-height: 100px;
        border-top: 3px solid g.$es-color;
        // border-bottom: 3px solid g.$es-color;
    }
    .allServicesContainer{
        padding: 3vw;
        padding-bottom: 5vh;
        .serviceContainer{
            padding-bottom: 20px;
            .serviceContent{
                @include g.create-flexbox(column, space-between);
                margin-bottom: 10vh;
                // border-bottom: 1px solid black
            }
            .serviceImgs{
                @include g.create-flexbox(row, space-evenly);
                width: 90vw;
                gap: 1rem;
                img{
                    max-width: 40vw;
                    max-height: 40vh;
                    // box-shadow: 10px 10px 5px #888888;

                }
            }
        }

    }

}