@use '../../../styles/globals' as g;

.container{
    position: relative;
    margin-top: g.$mobile-NavBar-height;
    min-height: 100vh;
    .title{
        font-size: calc(g.$mobile-h1-font-size * .7);
        @include g.display-large{
            font-size: g.$desk-h1-font-size;
            text-align: center;
            margin-bottom: 60px;
        }
    }
    
    .mainImage {
        position: relative;
        top: 0;
        box-sizing: border-box;
        width: 100vw;
        height: 270px;
        overflow: hidden;
        z-index: 1;
        @include g.display-large{
            width: 100vw;
            height: 400px;
        }
    }

    .mainImage::before {
        content: "";
        position: absolute;
        overflow: hidden;
        left: 0;
        width: 100vw;
        height: 70vh;
        background-image: url('../../ESAssets/ESImages/ESServices/PerfParaProduccion/perfoProd01.png');
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
        opacity: 1;
        @include g.display-large{
            width: 100vw;
            height: 400px;
        }
    }

    .mainText {
        position: relative;
        padding: 20px;
        top: 0px;
        z-index: 2;
        color: g.$dark-black-color;
        text-align: center;
    }

    .our{
        position: relative;
        text-align: center;
        height: 30px;
        line-height: 30px;
        padding-top: 5vh;
        border-top: 3px solid g.$es-color;
    }

    .allServicesContainer{
        padding: g.$mobile-main-container-padding;
        .serviceContainer{
            .serviceContent{
                @include g.create-flexbox(column, space-between);
                margin-bottom: 10vh;
                p{
                    margin: 0;
                    width: 90vw;
                    @include g.display-large{
                        width: 60vw;
                        margin-bottom: 1vh;
                    }
                }
            }
            .serviceImgs{
                @include g.create-flexbox(row, space-evenly);
                flex-wrap: wrap;
                gap: 1rem;
                width: 90vw;
                margin: 3vh 0;
                overflow: hidden;
                @include g.display-large{
                    flex-direction: row;
                }
                img{
                    max-width: 90vw;
                    max-height: 60vh;
                    @include g.display-large{
                        max-width: 90vw;
                        max-height: 45vh;
                    }
                }
            }
        }

    }
    .clientsContainer{
        position: relative;
        width: 100vw;
        padding: 10vh 0;
        text-align: center;
        justify-content: center;
        .clients{
            box-sizing: border-box;
            position: relative;
            @include g.create-flexbox(row, center);
            flex-wrap: wrap;
            gap: 5vw;
            width: 100%;
            padding: 5%;
        }
        img{
            width: 20vw;
        }
        p{
            position: relative;
            width: 80%;
            margin-left: 10%;
        }
    }
}