@use '../../../styles/globals' as g;

.container{
    position: absolute;
    box-sizing: border-box;
    padding: g.$mobile-main-container-padding;
    top: calc(g.$mobile-NavBar-height + 1vh);
    color: g.$white-color;
    z-index: 10;
    @include g.display-large{
        padding: 5vh 5vw;
        height: calc(100vh - g.$desk-NavBar-height);
        top: g.$desk-NavBar-height;
    }
    h1{
        position: relative;
    }
    p{
        position: relative;
        color: g.$white-color;
        @include g.display-large{
            max-width: 50%;
        }
    }
}
