@use '../../../styles/mixins' as mxns;
@use '../../../styles/variables' as vars;
@use '../../../styles/breakpoints' as brkps;



.menu{
    font-size: 35px;
    width: 5vw;
    color: red;
    z-index: 1000;
    cursor: pointer;
    margin-right: 10%;
    @include brkps.display-large{
        display: none;
        color: red;
    };
}