@use '../../../styles/globals' as g;

.container {
    // box-sizing: border-box;
    width: 100%;
    height: max(calc(#{g.$mobile-NavBar-height} * 1.5), #{25px});
    bottom: 0;
    left: 0;
    padding: 2vw 3vw;
    text-align: center;
    margin: 0;
    background-color: g.$third-color;
    z-index: 90;
    border-top: 50px solid g.$main-color;
    p{
        color: g.$footer-color;
        font-size: 12px;

    }

    @include g.display-large{
        height: g.$desk-NavBar-height;
        justify-content: space-between;
    }
   
}