@use '../../../styles/globals' as g;

.container{
    margin-top: g.$mobile-NavBar-height;
    padding: 0 4vw;
    @include g.display-large{
        top: g.$desk-NavBar-height;

    }
    .our{
        position: relative;
        text-align: center;
    }
    .worksContainer{
        padding: 8vh 0;
        .work{
            padding-bottom: 12vh;
            
            .workData{
                @include g.create-flexbox(row, space-between);
                gap: 2vw;
                padding-top: 3vh;
            }
            .workText{
                width: 40vw;
                @include g.create-flexbox(column, space-between);
                p{
                    width: 40vw;
                }
            }
            img{
                max-width: 50vw;
                max-height: 50vh;
            }
        }
    }
}