@use "../../styles/globals.modules" as g;

.menu{
    font-size: 35px;
    width: 30px;
    height: 30px;
    fill: g.$text-color;
    z-index: 1000;
    cursor: pointer;
    margin-right: 10%;
    fill: red;
    @include g.display-large{
        display: none;
    }
}