@use "../../styles/variables" as vars;

.navBar {
    position: absolute;
    width: 100%;
    margin-top: 0;
    text-decoration: none;
    background-color: vars.$main-color;
    color: vars.$text-color;
}