@use "../../styles/globals.modules" as g;


.navBar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    padding: 0 5vw;
    background-color: g.$main-color;
    color: g.$text-color;
    @include g.create-flexbox(row, space-between);
}
