@use "../../styles/globals.modules" as g;;

.navList{ // ul
    box-sizing: border-box;
    list-style: none;
    @include g.create-flexbox(column, space-evenly);
    background-color: g.$second-bg-color;
    padding: 20px 0 60px;
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    right: -100%;
    transition: left 0.3s;
    @include g.display-large{
        justify-content: space-between;
        // position: relative;
        flex-direction: row;
        font-size: min(#{2vw}, #{15px});
        padding: 0 4vw;
        width: 70%;
        height: 70px;
        // right: 0;
        // top: 0;
        background-color: inherit;
    }
    .navLink{
        text-decoration: none;
        color: inherit;
    }
}