@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

// Variables

    $primary-font: 'Roboto', sans-serif;
    $bg-color:  #121212;
    $second-bg-color: #0b420a;
    $text-color: #f6eaca;
    $second-text-color: #ccc;
    $main-color: rgb(25, 73, 21);
    $active-color: rgb(241, 241, 9);
    $grey-color: rgb(79, 79, 79);
    $big-font-size: 5rem;
    $h2-font-size: 3rem;
    $p-font-size: 1.1rem;
    $minNavBarHeight: 14vh;
    $maxNavBarHeight: 90px;



// Breakpoints

@mixin display-large {
    @media only screen and (min-width: 576px){
        @content;
        
    }
}


// Mixins

@mixin create-flexbox($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}