//Imports

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');


// General variables

$second-color: white;
$main-color: rgb(55, 37, 17);
$active-color: rgb(241, 241, 9);
$primary-font: 'Roboto', sans-serif;


// Mobile variables

$mobile-NavBar-height: 14vh;
$mobile-h1-font-size: max(#{7vw}, #{18px});
$mobile-h1-font-weight: 700;
$mobile-h2-font-size: max(#{6vw}, #{17px});
$mobile-h2-font-weight: 600;
$mobile-p-font-size: max(#{3vw}, #{12px});
$mobile-p-font-weight: 500;
$mobile-padding: 0 2vw;


//Desk variables

$desk-NavBar-height: 90px;
$desk-h1-font-size: 38px;
$desk-h1-font-weight: 700;
$desk-h2-font-size: 35px;
$desk-h2-font-weight: 600;
$desk-p-font-size: 18px;
$desk-p-font-weight: 500;


// Breakpoints

@mixin display-large {
    @media only screen and (min-width: 576px){
        @content;
    }
}


// Mixins

@mixin create-flexbox($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}