// Variables

$bg-color:  #121212;
$second-bg-color: #202020;
$text-color: #f6eaca;
$second-text-color: #ccc;
$main-color: rgb(23, 110, 13);
$active-color: rgb(241, 241, 9);
$grey-color: rgb(79, 79, 79);
$big-font-size: 5rem;
$h2-font-size: 3rem;
$p-font-size: 1.1rem;



// Breakpoints

@mixin display-large {
    @media only screen and (min-width: 576px){
        @content;
    }
}


// Mixins

@mixin create-flexbox($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}