@use "../../styles/globals" as g;

    .logo{
        box-sizing: border-box;
        // font-size: 20px;
        cursor: pointer;
        padding: 0;
        margin: 0;
        // margin-right: 10%;
        // height: 100%;          
        line-height: g.$minNavBarHeight;
        @include g.display-large{
            margin: 0;
            width: 30%;
            // background-color: blue;
            line-height: g.$maxNavBarHeight;
        }
        .text{
            font-size: max(#{19px},#{6vw});
            margin: 0;
            @include g.display-large{
                font-size: max(#{30px},#{4vw});
            }
        }
    }