@use '../../styles/globals' as g;

.container{
    position: absolute;
    padding: 6px;
    top: 80px;
    height: calc(70vh - 71px);
    color: g.$text-color;
    z-index: 1000;
    // background-color: rgba(0,0,0,.5);
    h1{
        font-size: min(#{20vw}, #{20px});
        // z-index: 1;
    }
    p{
        font-weight: 500;
        font-size: min(#{12vw}, #{12px});
    }
}
