@use '../../../styles/globals' as g;

.container{
    margin-top: g.$mobile-NavBar-height;
    padding: g.$mobile-main-container-padding;
    @include g.display-large{
        margin-top: 100px;
        height: 70vh;
        min-height: 420px;
        width: 35vw;
        border: 1px solid g.$white-color;
        border-radius: 3vw;
    }
    h2{
        text-align: center;
    }
    .svg{
        width: 50px;
    }
    p{
        color: rgb(150, 150, 150);
        width: 90%;
        margin-right: 3px;
    }
    .dataBlock{
        padding: 0 2vw;
        @include g.create-flexbox(row, space-between);
    }
    path {
        fill: g.$red-color;
        stroke: g.$red-color;
        stroke-width: 8px;
    }
}